//add these to a .env file and update the values accordingly.

PORT = 3000
DBHOST = "localhost"
DBUSER = "root"
DBPWD = ""
DBDB = "skilligr_test"
TOKEN_KEY = "secret"
EMAIL_USER = "youremail@example.com"
EMAIL_PASS = "generatethisfrommyappsingoogle"
CLOUDINARY_API_KEY = "1234567890"
CLOUDINARY_CLOUD_NAME = "xyz"
CLOUDINARY_SECRET_KEY = "abc"